<%= javascript_include_tag "prototype" %>
<div class="modbox">
<div class="tabs">
  <%= link_to '收件箱', user_messages_path(:user_id => @user.id) %><% unless @recipient_messages %>
  [<span id="pm_unread"><%= @recipient_messages.size %></span>]<% end %>| 
    <%= link_to '发件箱', message_to_user_messages_path(:sender_id => @user.id), :method => :put %> |
    <b><%= link_to '垃圾箱', trashbox_user_messages_path(:user_id => @user.id), :method => :put, :class => 'on' %></b>
  </div>

  <table border="0" cellspacing="0" width="100%">
  <tbody><tr>
  <td class="mail_line" align="left" height="40" width="40%"><strong>标题</strong></td>
  <td class="mail_line" align="left" width="40%"><strong>时间</strong></td>
  <td class="mail_line" align="left" width="20%"><strong>收件人</strong></td>
  </tr>
  </tbody>
  <form action="" method="post">
  <tbody>
    <% @trashboxmessages.each do |message|%>
      <tr>
      <td class="mail_line" height="40" width="7%">
      <input name="mid[]" id="mid_3255" value="3255" type="checkbox">
      <%= link_to message.title%>
      <!--<link_to_function message.title, "Element.show('reply')" %>-->
    </td>
    <td><%= message.created_at %></td>
    <td><%= message.recipient.username %></td>
  </tr>
  <tr>
    <td>
      <div> <%= message.content%></div>
      <div class="mail_admin">
        <%= link_to '回复', reply_user_message_path(:id => message.id), :method => :put %> -
        <%= link_to '删除', user_message_path(:id => message.id), :method => :delete, :confirm => "确定删除吗?" %> -
      </div>
    </td>
  </tr>
<% end %>
      </tbody>
    </table>
  </form>
</div>
