<div id="content">
  <div id="indexleft">
  </div>
  <div id="content">
    <div id="con_inner"></div>
    <div><%= link_to '控制面板', controlpanel_path(:id => @space) %> &gt;&gt;美化空间</div>
    <div id="tab2"><span>基本设置</span>
      | <%= link_to '模块设置',  :action => 'usermodel'%>
      | <%= link_to '模板选择', '/spaces/userstyle' %>
    </div>
    <table border="0" cellpadding="5" cellspacing="0" width="100%">
      <tbody>
        <% form_for :space, :url => space_path, :html => { :method => :put } do |f|%>
          <tr>
            <td align="right" width="10%">空间地址：</td>
            <td width="90%">
              <%= f.text_field :address, :class => 'input' %>
            </td>
          </tr>
          <tr>
            <td align="right" width="10%">空间名称：</td>
            <td width="90%"><label>
                <%= f.text_field :title, :class => 'input'%>
                不超过30个字符</label>
            </td>
          </tr>
          <tr>
            <td align="right" valign="top">空间简介：</td>
            <td><%= f.text_area :description, :rows => 4, :cols => 30%>
              不超过50字符</td>
          </tr>
          <tr>
            <td align="right">分辨率：</td>
            <td>
              <%= f.radio_button :resolution, "1024x768" %>
              <label>1024*768（宽屏） </label>
              <%= f.radio_button :resolution, "800x600" %>
              <label>800*600（窄屏） </label></td>
          </tr>
          <tr>
            <td align="right" valign="top">选择主题：</td>
            <% @categories.each do |category|%>
              <%= category.name %><br/>
              <% category.themes.each do |theme|%>
                <% if theme.id == @space.theme%>
                  <!-- 高姗注意::此处为高亮显示区 -->
                <% end %>
                <%= image_tag(theme.uri+"/icon.jpg") %><br/>
                <%= f.radio_button :theme_id, "#{theme.id}" %>
                <%= theme.name %>
              <% end%><br/>
            <% end %>
          </tr>
          <tr>
            <td align="right" valign="top">&nbsp;</td>
            <td><%= submit_tag '保存设置'%> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="clear"></div>
  </div>
</div>
