<h1>首页<%= logged_in_user.username %></h1>
<h3><%= link_to '个人空间', users_path(:id => @user.id) %></h3>
首页  <%= link_to '退出', logout_path %>
<br/>
个人信息
<%= render :partial => 'shared/profile'%>
日志
<% @entries.each do |entry|%>
  <%= entry.title %>
  <%= entry.user.username %>
  <%= entry.created_at.strftime("%Y-%m-%d %H-%m")%>
  <%= entry.comments_count%>
<% end %>
相册
<% @albums.each do |album|%>
  <% if album.primary%>
    <%= image_tag(album.primary.public_filename(:tiny))%>
  <% end %>
  <%= album.name%>
<% end %>
好友
<% @friends.each do |friend|%>
  <% if friend.friend.avatar%>
    <%= image_tag(friend.friend.avatar.public_filename(:tiny))%>
  <% end %>
  <%= friend.friend.username%>
<% end %>
最近访客
<% @visits.each do |visit|%>
  <% if visit.guest.avatar%>
    <%= image_tag(visit.guest.avatar.public_filename(:tiny))%>
  <% end %>
  <%= visit.guest.username%>
<% end %>
留言
<%@comments.each do |comment|%>
  <%= comment.user.username%>
  <%= time_ago_in_words(comment.created_at)%>
  <%= comment.content%>
<% end %>
空间统计
<%= @user.entries_count%>
<%= @user.photos_count%>
