<li class="left">账号：<%= @shop.login_name %></li>
<li class="left">店铺名称：<%= @shop.shopname %></li>
<li class="left">店铺描述：<%= @shop.description %></li>
<li class="left">地址：<%= @shop.address %></li>
<%= link_to '添加产品', new_shop_product_path(:shop_id => @shop)%>
<ul>
  <% @shop.products.each do |product|%>
    商品名称:<%= product.name %>
    商品价格:<%= product.price %>
    折扣价:<%= product.discount %>
    商品介绍:<%= product.introduction%>
    优惠说明:<%= product.offer_description%>
    预约说明:<%= product.reservation_help %>
    <br/>
  <% end %>
</ul>
