<div id="foruminfo">
  <div id="nav">
    <%= link_to '论坛', forums_path %>&raquo; <%= link_to @topic.forum.title, forum_path(:id => @topic.forum) %> &raquo; <%= @topic.title %>	</div>
</div>
<div class="mainbox viewthread">
  <h1><%= @topic.title %></h1>
  <table id="pid107092" summary="pid107092" cellspacing="0" cellpadding="0">
    <tr>
      <td class="postauthor">
        <cite>	
          <%= link_to @topic.user.username %>
        </cite>
        <div class="avatar"><% if @topic.user.space.avatar %>
            <%= image_tag(@topic.user.space.avatar.public_filename(:tiny))%>
          <% else %>
            <%= image_tag("../images/noface_tiny.jpg")%>
          <% end %>
          <dl class="profile">
            <dt>帖子</dt><div><%= @topic.user.posts_count %></div>
            <dt>精华</dt>
            <dt>威望</dt><dt>金钱</dt></dl>						
          <%= link_to '发短信息', new_user_message_path(:user_id => @topic.user)%>
          <br/> <%= link_to '加为好友', new_user_friend_path(:user_id => logged_in_user, :friend_id => @topic.user)%>
        </td>
        <td class="postcontent" >
          <div id="ad_thread2_0"></div>		
          <div class="postmessage defaultpost">
            <h2><%= @topic.title %></h2>
            <div id="postmessage_107092" class="t_msgfont"><%= @topic.content %> </div>
          </div>
        </div>
      </td>

      </tr><tr class="postcontent">
      <td><p>
        <%= link_to '回复', "#reply" %>
        </p></td>
      </tr>
    </table>
  </div>
  <% @topic.posts.each do |post|%>
    <div class="mainbox viewthread">
      <table id="pid107092" summary="pid107092" cellspacing="0" cellpadding="0">
        <tr>
          <td class="postauthor">
            <cite>	
              <%= link_to post.user.username %>
            </cite>
            <div class="avatar"><% if post.user.space.avatar %>
                <%= image_tag(post.user.space.avatar.public_filename(:tiny))%>
              <% else %>
                <%= image_tag("../images/noface_tiny.jpg")%>
              <% end %>
              <dl class="profile"><dt>帖子</dt><div><%= post.user.posts_count %></div>
                <dt>精华</dt>
                <dt>威望</dt>
                <dt>金钱</dt>
              </dl>						
                <%= link_to '发短信息', new_user_message_path(:user_id => post.user)%>
                <br/>    <%= link_to '加为好友', new_user_friend_path(:user_id => logged_in_user, :friend_id => post.user)%>
            </td>
            <td class="postcontent" >
              <div id="ad_thread2_0"></div>		
              <div class="postmessage defaultpost">
                <div id="postmessage_107092" class="t_msgfont"><%= post.content %> </div>
                <div id="post_rate_div_107092"></div>
              </div>
            </div>
          </td>
          </tr><tr class="postcontent">
          <td><p>
            <%= link_to '回复', "#reply" %>
            </p></td>
          </tr>

        </table>
      </div>
    <% end %>

    <div class="pages_btns">
      <%= link_to '发新话题', new_forum_topic_path(:forum_id => @topic.forum)%>
    </div>

    <% form_for :post, :url => forum_topic_posts_path(:forum_id => @topic.forum, :topic_id => @topic.id) do |f|%>
      <div id="quickpost" class="box">
        <h4>快速回复主题</h4>
        <a name="reply" id="reply"></a>
        <div class="postform">
          <p><label>内容</label>
          <%= javascript_include_tag :fckeditor%>
          <%= fckeditor_textarea ('post', 'content', {:toolbarSet => 'Simple', :width => '150%', :height => '200px' }) %>
          </p>
          <p class="btns">
          <%= submit_tag '提交' %>
          </p>
        </div>
        <div class="smilies">
        </div>
      </div>
    <% end %>
