<h1>控制面板</h1>
<%= @user.space.title %><br/>
<%= @user.space.description%><p>
<%= link_to '美化空间', edit_usercenter_space_path(:id => @user.space )  %>
<br/>
最近访客
<% @visits.each do |visit|%>
  <% if visit.guest.avatar %>
    <%= image_tag(visit.guest.avatar.public_filename(:tiny))%>
  <% else %>
    <%= image_tag("../images/noface_tiny.jpg")%>
  <% end %>
  <%= link_to visit.guest.username, user_path(:id => visit.guest) %>
<% end %>
好友新鲜事
<% @activities.each do |activity|%>
  <% unless activity.item.nil? %>
    <%= minifeed_message activity %>
    <%= activity.created_at.strftime("%Y-%m-%d %H-%m")%>
    <br/>
  <% end %>
<% end %>
最近加入
<% @recent_users.each do |user|%>
  <% if user.avatar %>
    <%= image_tag(user.avatar.public_filename(:tiny)) %>
  <% else%>
    <%= image_tag("../images/noface_tiny.jpg") %>
  <% end %>
  <%= link_to user.username, home_path(:user_id => @user.id)%>
<% end %>
