<div class="modbox">
  <div id="photoinner">
    <%= image_tag(@photo.public_filename())%>
    <h3><%= @photo.title %><br>
    </h3>
    <div id="photoabout">
      <strong>大小： </strong><%= @photo.height %>*<%= @photo.width %> <%= Float(@photo.size)/1024 %> Kb
      | <strong>上传时间：</strong><%= @photo.created_at.strftime("%Y-%m-%d %H-%m") %> 
      |  <strong>访问：</strong> [访问次数] <%= @photo.views_count %>次</div>
  </div>
  <div id="notice"><strong>照片简介</strong>：<%= @photo.description %><br>
  </div>
  <div id="review">
    <div>
      <% @photo.comments.each do |comment|%>
        <ul>
          <%= "<a name =#{comment.id}  id =#{comment.id}></a>"%>
          <li class="r_img">
          <% if comment.space.avatar %>
            <%= image_tag(comment.space.avatar.public_filename(:tiny))%>
          <%else%>
            <%= image_tag("../images/noface_tiny.jpg")%>
          <% end %>
            </li>
          <li class="user"><%= link_to comment.space.user.username %> [<%= comment.created_at.strftime("%y-%m-%d %H-%m") %>]
          <% if logged_in_user == @photo.space.user %>
            [<span style="color: rgb(153, 153, 153); cursor: pointer;">
              <%= link_to '删除' , delete_comment_path(:id => comment.id), :method => :delete, :confirm => "确认要删除吗?"%>
            </span>]
          <% end %></li>
          <!--<%= link_to '弹出新窗口',home_path,:popup => ['new_window_name', 'height=300,width=600'] %>-->
          <li class="rcon"><%= comment.content %></li><li class="clear">&nbsp;</li>
        </ul>
      <% end %>
    </div>
  </div>
  <% form_for :comment, :url => space_album_photo_comments_path(:photo_id => @photo) do |f|%>
    <ul id="addreview">
      <li class="addtitle">添加评论</li>
      <li>已登录:<%= logged_in_user.username %></li>
      <li> <%= f.text_area :content, :rows => 10, :cols => 30 %> </li> 
      <%= f.hidden_field (:item_type, :value => "Photo")%>
      <%= f.hidden_field (:item_id, :value => @photo.id)%>
      <input name="switch" id="logid" value="<%= space_album_photo_path(:parent_id => @photo)%>" type="hidden">
      <li>
      <%= submit_tag '提交评论', :class => 'button' %>
      </li> 
    </ul>
  <% end %>
  <div class="clear"></div>
</div>
